<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.CookingAssistant" android:versionCode="1" android:versionName="1.0">


	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".SearchActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".FavoritesActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".ShoppingListActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".HomeActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".TabActivityGroup" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".RecipeListActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>
		<activity android:name=".RecipePageActivity" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
		</activity>


		<activity android:name=".Mainpage" android:label="@string/app_name"
			android:theme="@android:style/Theme.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

	</application>
	<uses-permission android:name="android.permission.INTERNET" /> 
</manifest>
